POSTGRES_DB=auth_database
POSTGRES_USER=app_auth
POSTGRES_PASSWORD=123qwe_auth
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_OPTIONS='-c search_path=public,content'

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=secret-SeCreT-parOle22
AUTH_HASH_METHOD=pbkdf2:sha256:8000
AUTH_HASH_SALT_LENGTH=16

YANDEX_OAUTH_ID=
YANDEX_OAUTH_SECRET=
